<section class="section-play-now">
    <div class="txt-play-now">
        <h2>Embrace Your Fate</h2>
        <hr>
        <p>Are you ready for the challenge? Dive into 'The Path of Nuala,' where epic adventures, powerful races, and diverse classes await you. Immerse yourself in a rich RPG experience, where every choice shapes your destiny. The game's unique map, branching like a mighty tree, lets you decide your path, from treacherous combats to hidden cities filled with intrigue and opportunity. Choose your race, embrace your class, and embark on a journey where every 
            decision is a step towards your legend. Your fate is in your hands. Are you prepared to carve your own path?</p>
    </div>
    <div class="play-now">
        <a [routerLink]="['/play']">Play now</a>
    </div>
</section>