.section-play-now{
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color:white
}
.txt-play-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 14rem;
}
.txt-play-now hr{
    width: 50%;
}
.txt-play-now h2{
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.txt-play-now p{
    width: 50%;
    font-size: 2rem;
}
.play-now{
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    background-color: rgb(1, 48, 48);
    width: 20%;
    height: 10rem;
    border: 1rem ridge rgba(117, 100, 4, 0.575);
    border-radius: 4px;
}
.play-now a{
    color:rgb(119, 102, 4);
    font-family: 'Abhaya Libre';
    font-size: 5.5rem;
    margin-top: .6rem;
    
}

@media (max-width: 400px){
    .txt-play-now p{
        font-size: 1.5rem;
        width: 80%;

    }
    .txt-play-now h2{
        font-size: 3rem;
    }
    .txt-play-now hr{
        width: 80%;
    }
    .txt-play-now{
        margin-top: 8rem;
    }
    .play-now{
        width: 50%;
        height: 10%;
    }
    .play-now a{
        font-size: 3rem;
    }
    .section-play-now{
        height: 71rem;
    }
}