<div class="fondo">
    <div class="overlay">
      <div class="fondo-txt">
        <h1>Our teams are here to help</h1>
        <hr>
        <p>Contact with our programmers</p>
      </div>
      <section class="container">
        <div class="developer">
          <h3>Abigail Alegre</h3>
          <img class="img-back" src="../../../../assets/buttonplay.png" alt="">
          <img class="img-face" src="../../../../assets/face1.png" alt="">
          <div class="div-a">
            <a href="https://www.linkedin.com/in/abigail-alegre-698b11289/" target="_blank">LinkedIn</a>
            <a href="mailto:alegreav@gmail.com">Mail</a>
            <a href="https://github.com/Abint03" target="_blank">GitHub</a>
          </div>
          <div class="opacity-back">
          </div>
        </div>
        <div class="developer">
          <h3>Lautaro Burgos</h3>
          <img class="img-back" src="../../../../assets/buttonplay.png" alt="">
          <img class="img-face" src="../../../../assets/face2.png" alt="">
          <div class="div-a">
            <a href="https://www.linkedin.com/in/lautaro-burgos-55b7b1209/" target="_blank">LinkedIn</a>
            <a href="mailto:lautarobgs2k@gmail.com">Mail</a>
            <a href="https://github.com/Lautarobgs" target="_blank">GitHub</a>
          </div>
          <div class="opacity-back">
        </div>
        </div>
        <div class="developer">
          <h3>Nicolás Miranda</h3>
          <img class="img-back" src="../../../../assets/buttonplay.png" alt="">
          <img class="img-face" src="../../../../assets/face3.png" alt="">
          <div class="div-a">
          <a href="https://www.linkedin.com/in/nmm-hotchop/" target="_blank">LinkedIn</a>
          <a href="mailto:mirandanicolas.1996@gmail.com">Mail</a>
          <a href="https://github.com/Hotchop" target="_blank">GitHub</a>
        </div>
        <div class="opacity-back"></div>
        </div>
      </section>
    </div>
  </div>
  
  
  
  
  
  