.fondo {
    position: relative;
    height: 90rem;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
  }
  
  .overlay {
    position: absolute;
    margin-top: 4.5rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
  }
  .fondo-txt{
    margin-top: 5rem;
    font-family: 'Raleway', sans-serif;
  }
  .fondo-txt h1 {
    font-size: 6.5rem;
    font-weight: normal;
    display: inline-block;
    color: inherit;
    margin: 5rem 0rem 2rem 0rem;
  }
  .fondo-txt hr{
    width: 40%;
  }
  .fondo-txt p{
    font-size: 3rem;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 6rem;
    width: 100%;
  }
  
  .developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    width: 32rem;
    height: 44rem;
    background-image: url("../../../../assets/backprogrammers.png");
    background-size: cover;
    color: #fff; /* Texto blanco */
    transition: background-color 0.3s, border-color 0.3s;
  }
  .developer h3{
    margin-top: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    z-index: 9999;
  }
  .img-back{
    position: absolute;
    width: 40rem;
    height: auto;
    opacity: 0.5;
    margin-top: 2rem;
    z-index: 9999;
  }
  .img-face{
    position: absolute;
    margin-top: 10rem;
    width: 10rem;
    height: auto;
    opacity: 0.8;
    z-index: 9999;
  }
  .div-a{
    margin-top: 13rem;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .developer a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 1rem 0;
    padding: 1rem;
    width: 80%;
    transition: all 0.5s;
  }
  .developer hr{
    width: 90%;
    opacity: 0.5;
    border-color: #1f2a36;
  }
  
  
  .developer a:hover {
    background-color: #03202a5b; /* Cambio de color al pasar el cursor */
    border-color: #03202a; /* Cambio de color del borde al pasar el cursor */
    letter-spacing: 0.1rem;
  }
  .opacity-back{
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
  }

  @media (max-width: 400px){
    .fondo{
      height: 160rem;
    }
    .fondo-txt{
      margin-top: 15rem;
    }
    .fondo-txt h1{
      font-size: 3.2rem;
      margin-bottom: 1rem;
    }
    .fondo-txt hr{
      width: 80%;
      margin-top: 0rem;
    }
    .fondo-txt p{
      font-size: 1.5rem;
    }
    .container{
      flex-direction: column;
      align-items: center;
      margin: 0rem;
    }
    .developer{
      width: 28rem;
      height: 40rem;
    }
    .developer h3{
      font-size: 2.5rem;
    }
    .div-a a{
      margin: 0rem;
      z-index: 999999;
    }
    .div-a a:hover{
      cursor: pointer;
    }
  }
  
  
  
  
  

    