.user-scores{
    width: 90%;
    height: 100%;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 2rem;
    font-family: 'Abhaya Libre';
}

/*Warning*/
.warning h2{
    margin: 0 auto;
    text-align: center;
    font-size: 5rem;
    padding-top: 20%;
}

.warning p{
    text-align: center;
    font-size: 3rem;
}

/*Scoreboard*/

.scoreboard{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard span{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0;
    padding: 0.5rem;
    background-color: rgb(37, 20, 7,0.9);
    border-radius: 1rem;
    border: 3px solid rgba(58, 31, 10, 0.9);
}


.scoreboard table{
    width: 90%;
    margin: 0 auto;
    font-size: 3rem;
    background-color:  rgba(58, 31, 10, 0.9);
    text-align: center;
    border-spacing: 0;
}



.scoreboard th{
    background-color:rgb(37, 20, 7) ;
}
.scoreboard td{
    background-color:rgba(97, 52, 21, 0.9) ;
    border-radius: 0.5rem;
    border: 1px solid rgba(58, 31, 10, 0.9);
    
}

#search-icon{
    width: 20px;
}

.tableFixHead{ 
    overflow: auto; 
    height: 100px; 
    width: 100%;
    height: 35rem;
}
.tableFixHead thead th{
     position: sticky; 
     top: 0; 
     z-index: 1; 
     border-collapse: collapse;
}

.sorters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.sorters input{
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 525;
    color: white;
    background-color: rgb(17, 17, 17);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/*Extra Info*/

.extraInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5rem;
}

.extraInfo h2{
    font-size: 5rem;
    font-weight: bold;
    background-color: rgba(58, 31, 10, 0.9);
    border-radius: 1rem;
    border: 2px solid rgba(97, 52, 21, 0.9);
    padding: 1;
}

.extraInfo h3{
    background-color: rgba(97, 52, 21, 0.9);
    border-radius: 1rem;
    border: 2px solid rgba(58, 31, 10, 0.9);
    padding: 1;
    width: 50%;
    margin: 0 auto;
}

.extraInfo input{
    margin: 0.5rem auto;
    font-size: 1.5rem;
    font-weight: 525;
    color: white;
    background-color: rgb(17, 17, 17);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 20%;
}

.heroInfo{
    width: 0 100%;
    font-size: 3rem;
    text-align: center;
}

.heroSprite{
    width: 0 auto;
}

.heroSprite img{
    width: 100%;
}

@media (max-width: 400px){
    
    .scoreboard{
        width: 100%;
    }
    .scoreboard span{
        font-size: 2.5rem;
    }
    .tableFixHead th, .tableFixHead td, .warning p{
        font-size: 1.9rem;
        font-weight: lighter;
    }
    .warning h2{
        font-size: 3rem;
    }

    .sorters{
        flex-direction: column;
        margin-bottom: 2rem;

    }
    .sorters input{
        font-size: 1.3rem;
    }
    .user-scores{
        padding: 3rem;

    }
    .extraInfo{
        align-items: center;
        
    }
    #heroName{
        font-size: 3rem;
    }
    .data h3{
        font-size: 2.2rem;
        width: 80%;
        margin-bottom: 0rem;
        font-weight: lighter;
    }
    .data p{
        font-size: 2rem;
        margin-top: .5rem;

    }
    .data{
        margin: 0rem;
    }
    #return{
        font-size: 1.5rem;
        width: 90%;
    }
    .heroSprite{
        width: 50rem
    }
    .tableFixHead{
        width: 100%;
    }
}
