<section class="cities">
    <div class="cities-text">
        <h2>Explore the world</h2>
        <hr>
        <p>Your adventure begins now; choose your own way and leave your mark on the legendary path of Nuala</p>
    </div>
    <div class="cities-images">
        <div class="city-descr">
            <p><span class="city-name">Ygnnea</span><br> The Eternal Ember</p>
            <img class="city-img" src="../../../../assets/ygnea.jpg" alt="">
            
        </div>
        <div class="city-descr">
            <p><span class="city-name">Naberoa</span> <br>Town of Whispers</p>
            <img class="city-img" src="../../../../assets/naberoa.jpg" alt="">
            
        </div>
        <div class="city-descr">
            <p><span class="city-name">Mentos</span><br> House of the Savior Tree</p>
            <img class="city-img" src="../../../../assets/mentos.jpg" alt="">
           
        </div>
    </div>
</section>