.user-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.750);
    border-radius: 2rem;
    direction: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.user-info img{
    margin: 0 auto;
    border-radius: 25%;
    border: 3px solid white;
}

.user-info h2{
    text-align: center;
    font-family: 'Abhaya Libre';
    font-size: 4rem;
    margin: 2rem;
}

.profile-options{
    width: 40%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 0.5rem;
}

.profile-options legend{
    text-align: center;
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.buttons input{
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 525;
    color: white;
    background-color: rgb(17, 17, 17);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#deletion{
    color: rgb(252, 146, 146);
}

@media (max-width: 400px){
    .user-info{
        width: 30rem;
        align-items: center;
        padding: 2rem;
   }
    .user-info img{
        width: 15rem;
        margin-left: 5.5rem;
    }
}
