<section class="characters-section">
    <div class="black-backgr">
            <div class="char-txt">
                <h2>Choose your hero</h2>
                <hr> 
                <p>Delve into a world of diverse classes and races, each with unique abilities and traits. Unleash the power of different classes like mighty warriors, agile rogues, powerful mages, and versatile clerics. 
                    Choose from races such as elves, dwarves, gnomes, orcs, each with its own strengths and abilities.</p>
            </div>
    </div>
    <div class="char-img">
        <img src="../../../../assets/characters.png" alt="" id="imagen">
    </div>
</section>
 