<section class="how-to-play">
   
    <div class="text-image">
        <div class="txt-first-part">
           <h2>How To Play</h2>
            <hr>
            <p>To be able to play, be sure to register your account in the profile section. Once you've done that, head over to Play. There you will be able to create your own character, selecting a difficulty and class that will impact your health and damage, as well as a name for your hero. Once that's done, the game will begin.</p>
        </div>
        <div class="image-part">
            <img src="/assets/tutorial/tutorial1.png" alt="The character creation screen">
            <div class="tips-div">
                <h3>> Easy: -25% Enemy HP & Damage - Normal: No Changes - Hard: +25% Enemy HP & Damage </h3>
                <h3>> Warrior: More HP & Less Damage - Mage: Less HP & More Damage - Rogue: Normal HP & Normal Damage </h3>
            </div>
        </div>
    </div>
    
    <div class="text-image">
        <img id="img-2" src="/assets/tutorial/tutorial2.png" alt="The main fight scene">
        <div class="txt-first-part txt-second-part">
            <p>The objective of the game is to beat as many enemies as possible in a single run. You and the enemy will be taking turns choosing actions. The player can choose to attack to deal damage, defend to resist more damage or use an item to heal.</p>
        </div>
    </div>
    <div class="text-image txt-third-part">
        <p>The enemy will telegraph its next action before its turn, so plan accordingly! The enemy can attack, defend, lower your attack, or increase its attack. It can also use stronger versions of its actions, as noted by a yellow border. Once you defeat the enemy, you'll be able to continue to the next stage and fight the next enemy. If you are defeated or decide to run away, the game will end and you will be able to save your score in your profile.</p>
        <img src="/assets/tutorial/tutorial3.png" alt="An enemy ready to attack">
    </div>
    <div class="img-actions">
        <img src="../../../assets/game-assets/anacleto_pj.png" alt="" class="mc">
        <div class="actions-padre">
            <div class="single-actions">
                <div class="actions">
                    <p>This icon means the enemy is going to attack in the next turn.</p>
                    <img src="/assets/game-assets/action-icons/attack.png" alt="The attack indicator">
                </div>
                <div class="actions">
                    <p>This icon means the enemy is going to shield in the next turn, reducing the damage taken while the shield is active.</p>
                    <img src="/assets/game-assets/action-icons/defend.png" alt="The shield indicator">
                </div>
                <div class="actions">
                    <p>This icon means the enemy is going debuff you in the next turn, reducing the damage you deal in your following turn.</p>
                    <img src="/assets/game-assets/action-icons/debuff.png" alt="The debuff indicator">
                </div>
                <div class="actions">
                    <p>This icon means the enemy is going to buff himself in the next turn, making its following attack stronger.</p>
                    <img src="/assets/game-assets/action-icons/buff.png" alt="The buff indicator">
                </div>
            </div>
            <div class="actions buff">
                <p>All the enemy actions have stronger versions, marked by a golden border.</p>
                <div class="actions-buffed-icons">    
                    <img src="/assets/game-assets/action-icons/strong_attack.png" alt="A strong attack">
                    <img src="/assets/game-assets/action-icons/strong_defend.png" alt="A strong shield">
                    <img src="/assets/game-assets/action-icons/strong_debuff.png" alt="A strong debuff">
                    <img src="/assets/game-assets/action-icons/strong_buff.png" alt="A strong buff">
                </div>
            </div>
        </div>
        
    </div>
</section>
