<footer>
    <div class = "contenedor1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../../assets/placeholderlogo.png" alt="">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Who we are</h2>
            <p>
                We are passionate developers driven by our love for programming and game development. With a shared enthusiasm for crafting immersive experiences, we bring diverse skills and perspectives to the table, pooling our expertise to create engaging and innovative RPGs.
            </p>
        </div>
        <div class="box box-2">
            <h2>Links</h2>
                <div class="nav-boton">
                    <a class="enlace" [routerLink]="['/home']">Home</a>
                </div>
                <div class="nav-boton"> 
                    <a class="enlace" [routerLink]="['/how-to-play']">How To Play</a>
                </div>  
                <div class="nav-boton"> 
                    <a class="enlace" [routerLink]="['/contact-us']">Contact Us</a>
                </div>
        </div>
    </div>
    <hr>
    <div class = "contenedor2">
        <small>&copy;2023 <b>The Path of Nuala</b></small>
    </div>
    <div class="background-img-navbar"><img src="../../../../assets/footershadow.png" alt=""></div>
</footer>
